# Set
* unindexed
* unordered
* don't allow duplicate
* one of the built-i data type

In [3]:
Thakali_set = {"Dal", "Bhat", "Chatni", "Salad", "Dahi", "Masu", "Gheu", }
print(Thakali_set)

{'Dal', 'Dahi', 'Chatni', 'Bhat', 'Masu', 'Salad', 'Gheu'}

In [4]:
Thakali_set(0)

TypeError: 'set' object is not callable

# set is a mutable datatype

In [5]:
Thakali_set = {"Dal", "Bhat", "Chatni", "Salad", "Dahi", "Masu", "Gheu", }
Thakali_set.add("Pappad")

In [6]:
Thakali_set

{'Bhat', 'Chatni', 'Dahi', 'Dal', 'Gheu', 'Masu', 'Pappad', 'Salad'}

In [8]:
Thakali_set.add("Gundruk")
Thakali_set

{'Bhat', 'Chatni', 'Dahi', 'Dal', 'Gheu', 'Gundruk', 'Masu', 'Pappad', 'Salad'}

In [9]:
Thakali_set.remove("Dal")
Thakali_set

{'Bhat', 'Chatni', 'Dahi', 'Gheu', 'Gundruk', 'Masu', 'Pappad', 'Salad'}

In [10]:
Thakali_set = {"Dal", "Bhat", "Chatni", "Salad", "Dahi", "Masu", "Gheu", }
Thakali_set.remove("Dhindo")

KeyError: 'Dhindo'

In [12]:
Thakali_set = {"Dal", "Bhat", "Chatni", "Salad", "Dahi", "Masu", "Gheu", }
Thakali_set.discard("Dhindo")  # Discard le item xa vane remove garxa yedi xaina vane error ignore garxa

In [13]:
Thakali_set = {"Dal", "Bhat", "Chatni", "Salad", "Dahi", "Masu", "Gheu", }
list(Thakali_set)

['Dal', 'Dahi', 'Chatni', 'Bhat', 'Masu', 'Salad', 'Gheu']

In [14]:
a = [2, 2, 6, 3, 3, 2]

In [15]:
set(a) #set le duplicate value print gardaina

{2, 3, 6}

In [16]:
A = {"apple", "banana", "cherry"}
B = {"google", "microsoft", "apple"}

In [17]:
A.intersection(B)

{'apple'}

In [18]:
A.union(B)

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [19]:
A.difference(B) #A - B

{'banana', 'cherry'}

In [21]:
B.difference(A) #B -A

{'google', 'microsoft'}

# Other set type: Frozenset - Frozen set is just an immutable version of a Python set object

In [22]:
s = {"google", "microsoft"}
s_frozen = frozenset(s)
type(s_frozen)

frozenset

In [23]:
s_frozen.add("meta")

AttributeError: 'frozenset' object has no attribute 'add'