# Tuples
* Immutable
* ordered
* indexed
* read only
* allows duplicate value
* items written () separated by comma ( , )

In [1]:
cars = ("Audi", "BMW", "Ferrari")
cars

('Audi', 'BMW', 'Ferrari')

In [2]:
type(cars)

tuple

In [5]:
cars[2] #indexing

'Ferrari'

In [6]:
cars[-1]

'Ferrari'

In [7]:
len(cars)

3

In [9]:
cars[1:] #slicing

('BMW', 'Ferrari')

In [11]:
cars[-1:] #slicing

('Ferrari',)

In [12]:
cars[-2]

'BMW'

In [15]:
cars = ("Audi", "BMW", "Ferrari")
for index in range(len(cars)):
    item = cars[index]
    print(index, item)

0 Audi
1 BMW
2 Ferrari

# Tuple is immutable

In [16]:
cars = ("Audi", "BMW", "Ferrari") # small bracet makes tuples

In [17]:
cars[2]

'Ferrari'

In [18]:
cars[2] = 'Mercedes' # immutable datatype

TypeError: 'tuple' object does not support item assignment

In [19]:
cars = ["Audi", "BMW", "Ferrari"] # big bracket changes into list

In [21]:
cars[2] = "Mercedes"
cars

['Audi', 'BMW', 'Mercedes']

In [22]:
# list is a mutable data type and tuple is immutable datatype

# Type casting

In [23]:
cars = ("Audi", "BMW", "Ferrari")
cars.append("mercedes")

AttributeError: 'tuple' object has no attribute 'append'

In [26]:
# you can covert tuples into list and list into tuples 
# using the idea of type casting

In [30]:
cars = ("Audi", "BMW", "Ferrari")
cars = list(cars) # type casting
cars.append("Mercedes") # list method
cars = tuple(cars) # again typecasting to tuple
cars

('Audi', 'BMW', 'Ferrari', 'Mercedes')

# Tuple unpacking

In [34]:
x , y = (6, 8)

In [35]:
x

6

In [36]:
y

8

In [37]:
x , y = {6, 8}

In [38]:
x

8

In [39]:
y

6

In [40]:
x , y = [6, 8]

In [41]:
x

6

In [42]:
y

8

In [47]:
nums = (5, 6, 8, 10)
index = 0
total = 0
stop = len(nums) #4
while index < stop:
    item = nums[index]
    total = total + item
    index = index + 1
total

29

In [49]:
nums = (5, 6, 8, 10)
index = 0
total = 0
stop = len(nums) #4
while index < stop:
    item = nums[index]
    total = total + item
    mean = total / item
    index = index + 1
mean

2.9